/* Start page */

.start-page1 {
    background: url('../../images/background/01.jpg') top center no-repeat;
}

.start-page2 {
    background: url('../../images/background/02.jpg') top center no-repeat;

    .opacity {
        background: rgba(30, 30, 30, 0.5); 
    }
}

.start-page3 {
    background: url('../../images/background/03.jpg') top center no-repeat;

    .opacity {
        background: rgba(30, 30, 30, 0.5); 
    }
}

.start-page4 {
    background: url('../../images/background/04.jpg') top center no-repeat;

    .opacity {
        background: rgba(30, 30, 30, 0.5); 
    }
}

.start-page5 {
    background: url('../../images/background/05.jpg') top center no-repeat;

    .opacity {
        background: rgba(30, 30, 30, 0.3); 
    }
}

.start-page {
    position: relative;
    @extend %width-height;
    background-attachment: fixed;

    @include breakpoint(breakpoints(tablet-wide)) {
        background-attachment: scroll;
    }

    @include background-cover();
    z-index: 10;
    overflow: hidden;
    @include transition(all, 1s, ease-in);

    .opacity {
        height: 100%;
    }

    i.fa-angle-left, i.fa-angle-right  {
        @extend %i-arrows;
        position: absolute;
        color: rgba(color(fourth-dark), 0.6);
        top: 50%;
        z-index: 100;

        &:hover {
            color: color(third);
        }
    }

    i.fa-angle-left {
        left: 2%;
        @include transform-translate(-2%, -50%);
    }

    i.fa-angle-right {
        right: 2%;
        @include transform-translate(-2%, -50%);
    }

    // Start page content

    .start-page-content{
        padding: 20px 0 0 0;
        position: relative;
        text-align: center;
        width: 66%;
        margin: 0 auto;
        height: 100%;

        @include breakpoint(breakpoints(tablet)) {
            width: 100%;
        }

        .logo {
            width: 103px;
            height: 85px;
            margin: 0 auto 25px;

            @include breakpoint-width(101px, 99px, 97px, 95px, 93px, 91px, 89px, 87px, 85px, 83px);
            @include breakpoint-height(83px, 81px, 79px, 77px, 75px, 73px, 71px, 69px, 67px, 65px);
        }

        hr {
            color: color(fourth-start-page);
            background-color: color(fourth-start-page);
            margin-top: 25px;
            width: 96px;
            @include breakpoint-width(92px, 88px, 84px, 80px, 76px, 72px, 68px, 64px, 58px, 54px);
    
        }

        .about-us {
            display: inline-block;
            padding: 15px 30px;
            margin: 25px auto;
            text-transform: uppercase;
            border: 1px solid color(fourth-start-page);
            color: color(fourth-start-page);
            @include transition(all, 0.6s, ease-in);

            &:hover {
                color:white;
                background: color(third);
                border: 1px solid color(third);
            }
            @include breakpoint-font-size(15.5px, 15.5px, 15px, 14.5px, 14px, 13.5px, 13px, 12.5px, 12px, 11.5px);
            @include breakpoint-padding(14px 24px, 13px 22px, 12px 20px, 12px 18px, 11px 16px, 11px 15px, 10px 15px, 10px 13px, 9px 11px, 9px 9px);
        }

        .dots {
            position: absolute;
            bottom: 100px;
            left: 50%;
            @include transform-translate(-50%, 0);

            .dot {
                height: 11px;
                width: 11px;
                background-color: transparent;
                border: 1px solid color(fourth-start-page);
                @include roundedCorners(50%);
                display: inline-block;
                transition: background-color 0.6s ease;
                cursor: pointer;

                @include breakpoint-width(10px, 10px, 9.5px, 9.5px, 9px, 9px, 8.5px, 8.5px, 8px, 8px);
                @include breakpoint-height(10px, 10px, 9.5px, 9.5px, 9px, 9px, 8.5px, 8.5px, 8px, 8px);
            }          
        }

        .arrow-down {
            position: absolute;
            bottom: 110px;
            left: 50%;
            @include transform-translate(-50%, 0);
            width: 23px;
            height: 31px;
            background: url('../../images/icons/arrow-down.png') no-repeat center center;
            display: block;
            @include animation('bounce-fade 1.75s infinite');

            @include breakpoint-width(22px, 21px, 20.5px, 20px, 19.5px, 18.5px, 18px, 17.5px, 17px, 16px);
            @include breakpoint-height(30.5px, 29.5px, 29px, 28.5px, 28px, 27px, 26.5px, 26px, 25.5px, 24.5px);
        }      
    }
}



  

  
